AIRFLOW_UID=50000
AIRFLOW__WEBSERVER__SECRET_KEY=my_super_secret_key_123
CSV_PATH=/opt/airflow/data/raw_weather_data.csv

POSTGRES_HOST=postgres
POSTGRES_DB=airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow

WEATHER_POSTGRES_DB=weather_db
