.env

#Fichier Python: ignorer le cache Python
__pycache__/
*.py[cod]

#logs et outputs
*.logs
*.db
*.bak
*.tmp

#Parametres specifiques a sa configuration .vscode
.vscode/

#Fichiers Docker
**/docker-compose.override.yml
**/.docker/

#OS specifiques
Thumbs.db


dbt_weather/target/
dbt_weather/logs/
dbt_weather/dbt_packages/